* {
    box-sizing: border-box;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: blue;
    color: white;
    width: 10%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s linear;
}
.login:hover {
    background-color: green;
    border-radius: 25px;
    transition: all 0.3s linear;
}
.image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
.imga {
    display: flex;
    margin: 30px;
    transition: transform 0.5s ease;
}
.imga:hover {
    transform: scale(1.5);
}
.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 20px;
    margin: 20px;
}
@keyframes beating {
    10% {transform:scale(1.2)}
    15% {transform:scale(1)}
    20% {transform:scale(1.2)}
    25% {transform:scale(1)}
    30% {transform:scale(1.2)}
    60% {transform:scale(1)}
}
.heartbeat {
    animation: beating 3s infinite;
}
h2 {
    font-size: 80px;
}
.jump {
    color: white;
}
.jump:after {
    animation: jumping 2s step-end infinite;
    content:"";
}
@keyframes jumping {
    0%  {background-color: green; content:"TEACHING"} 
    35%  {background-color: purple; content:"LEARNING"} 
    70%  {background-color: orangered; content:"CODING"} 
    100%  {background-color: green; content:"TEACHING"} 
}
