.indam {
    color: red;
}
#CongHoa {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
#bieutuong {
    font-size: 20px;
    text-align: center;
}
#gioithieu {
    color: white;
    background-color:blue;
    width: 55%;
    text-align: left;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 15px;
}
#modau {
    color: black;
    background-color: white;
    width: 55%;
    text-align: left;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#thanbai1 {
    color: black;
    background-color: white;
    width: 55%;
    text-align: left;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#thanbai2 {
    color: black;
    background-color: white;
    width: 55%;
    text-align: left;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#thanbai3 {
    color: black;
    background-color: white;
    width: 55%;
    text-align: left;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#loicamon {
    color: black;
    background-color: white;
    width: 104%;
    text-align: left;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#ngaythang {
    color: black;
    background-color: white;
    width: 112%;
    text-align: right;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#chuky {
    color: black;
    background-color: white;
    width: 121%;
    text-align: right;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}